Repository buddyboss/buddyboss-platform, pull requests merged in 2020-04, with the labels that each got.

#693 Fixed topic revision log spacing issue
  src/bp-templates/bp-nouveau/common-styles/_bp_forums.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
Labels: component: forums, priority: medium, status: needs review

#688 Fix mentions suggestion list in messages if force friendship is enabled
  src/bp-core/bp-core-functions.php
  src/bp-core/js/mentions.js
  src/bp-core/js/mentions.min.js
  src/bp-templates/bp-nouveau/includes/messages/functions.php
Labels: bug, component: connections, component: messages, priority: high, status: needs review

#687 Social Networks profile fields - Twitch
  src/bp-xprofile/bp-xprofile-functions.php
Labels: feature: enhancement, priority: low

#672 In the screen options the setting for pagination for Activity and Groups won't apply
  src/bp-groups/bp-groups-admin.php
Labels: bug, status: needs review

#677 Screen options pagination options for Activity in admin
  src/bp-activity/bp-activity-admin.php
Labels: bug, status: needs review

#674 More button on friends widget fix
  src/bp-friends/classes/class-bp-core-friends-widget.php
Labels: bug, component: connections, priority: low, status: needs review

#671 URL previews not working post editing the activities in the backend
  src/bp-activity/bp-activity-admin.php
Labels: bug, component: activity, priority: high, status: needs review

#703 Group Message Fixies
  src/bp-messages/bp-messages-filters.php
  src/bp-messages/classes/class-bp-messages-message.php
  src/bp-messages/classes/class-bp-messages-thread.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-single-header.php
  src/languages/buddyboss.pot
Labels: component: groups, component: messages, feature: enhancement, php, priority: critical, status: needs testing

#665 #662 Issue: Member type filter should not filter user on connection tab
  src/bp-core/bp-core-template.php
  src/bp-core/classes/class-bp-user-query.php
  src/bp-core/deprecated/buddyboss/1.2.9.php
  src/bp-groups/bp-groups-functions.php
  src/bp-groups/bp-groups-template.php
  src/bp-members/bp-members-functions.php
  src/bp-members/bp-members-template.php
  src/bp-templates/bp-nouveau/buddypress/common/filters/group-filters.php
  src/bp-templates/bp-nouveau/buddypress/common/filters/member-filters.php
  src/bp-templates/bp-nouveau/buddypress/common/nav/directory-nav.php
  src/bp-templates/bp-nouveau/buddypress/common/search-and-filters-bar.php
  src/bp-templates/bp-nouveau/includes/ajax.php
  src/bp-templates/bp-nouveau/includes/functions.php
  src/bp-templates/bp-nouveau/includes/template-tags.php
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.js
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.min.js
  src/bp-xprofile/classes/class-bp-xprofile-field-type-member-types.php
  src/class-buddypress.php
Labels: bug, component: groups, component: profiles, php, priority: medium, status: needs review, status: needs testing

#648 #637 Fix Member Type orderby issue
  src/bp-groups/bp-groups-functions.php
  src/bp-members/bp-members-functions.php
  src/bp-templates/bp-nouveau/buddypress/common/filters/group-filters.php
  src/bp-templates/bp-nouveau/buddypress/common/filters/member-filters.php
  src/bp-xprofile/classes/class-bp-xprofile-field-type-member-types.php
Labels: bug, component: profile fields, component: profiles, php, priority: low, status: needs review

#705 Fix who is online widget
  src/bp-core/js/widget-members.js
  src/bp-core/js/widget-members.min.js
  src/bp-members/classes/class-bp-core-whos-online-widget.php
  src/languages/buddyboss.pot
Labels: bug, component: profiles, php, priority: critical, status: needs review

#704 Fix group message settings
  src/bp-core/admin/bp-core-admin-settings.php
  src/bp-groups/actions/create.php
  src/bp-groups/bp-groups-functions.php
  src/bp-groups/classes/class-bp-groups-component.php
  src/bp-groups/screens/single/admin/group-settings.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/admin/group-settings.php
  src/languages/buddyboss.pot
Labels: bug, component: groups, component: messages, php, priority: critical, status: needs review

#707 #706 Fix emoji not working in group messages
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
Labels: bug, component: groups, component: messages, priority: medium, status: needs review

#729 #725 - Fixed the undefined variables error in who's online widget
  src/bp-members/classes/class-bp-core-whos-online-widget.php
Labels: bug, priority: high, status: needs review

#381 Impossible to open activity images from notification
  src/bp-media/bp-media-filters.php
Labels: bug, component: activity, status: needs review

#741 Visual issues in admin with different inputs
  src/bp-core/css/avatar-rtl.css
  src/bp-core/css/avatar-rtl.min.css
  src/bp-core/css/avatar.css
  src/bp-core/css/avatar.min.css
  src/bp-members/admin/css/admin-rtl.css
  src/bp-members/admin/css/admin-rtl.min.css
  src/bp-members/admin/css/admin.css
  src/bp-members/admin/css/admin.min.css
Labels: Has-PR, bug, priority: medium, status: needs review

#750 Social Networks profile fields - VK
  src/bp-xprofile/bp-xprofile-functions.php
Labels: feature: enhancement, priority: low

#726 Messages enhancement
  src/bp-core/admin/bp-core-admin-schema.php
  src/bp-core/bp-core-functions.php
  src/bp-core/bp-core-update.php
  src/bp-integrations/learndash/library/SyncGenerator.php
  src/bp-media/bp-media-filters.php
  src/bp-messages/bp-messages-filters.php
  src/bp-messages/bp-messages-functions.php
  src/bp-messages/classes/class-bp-messages-box-template.php
  src/bp-messages/classes/class-bp-messages-message.php
  src/bp-messages/classes/class-bp-messages-thread.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-single-header.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-thread.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/messages.php
  src/bp-templates/bp-nouveau/common-styles/_bp_groups_messages.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_messages.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/functions.php
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/class-buddypress.php
  src/languages/buddyboss.pot
Labels: component: messages, feature: enhancement, javascript, php, priority: high, status: needs review

#769 Message screen Improvements
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
Labels: bug, component: messages, priority: medium, status: needs review

#759 #581 - Added exclude group query for user in which user is not able to post the activity
  src/bp-templates/bp-nouveau/includes/activity/ajax.php
Labels: bug, priority: high, status: needs review

#748 Mention is not working properly
  src/bp-core/js/mentions.js
  src/bp-core/js/mentions.min.js
  src/bp-forums/templates/default/js/editor.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
Labels: bug, component: activity, component: forums, javascript, priority: critical, status: needs review

#753 Fixed - Products posted to activity, If image width is small it's showing misaligned
  src/bp-activity/bp-activity-functions.php
Labels: bug, priority: medium, status: needs review

#779 Profile fields - telegram and whatsapp social network icons
  src/bp-xprofile/bp-xprofile-functions.php
  src/languages/buddyboss.pot
Labels: component: profile fields, feature: enhancement, priority: low

#788 567 - Added custom post type support to add comment on activity
  src/bp-blogs/bp-blogs-activity.php
Labels: bug, component: activity, priority: medium, status: needs review

#783 Lost Password link not working when WooCommerce plugin active
  src/bp-core/compatibility/bp-incompatible-plugins-helper.php
Labels: bug, status: needs review

#740 Notification for rejected group access request is not clearing
  src/bp-groups/bp-groups-notifications.php
Labels: bug, component: notifications, status: needs review

#801 Impossible to open activity images from notification
  src/bp-media/bp-media-filters.php
  src/bp-templates/bp-nouveau/buddypress/activity/single/home.php
Labels: bug, component: activity, component: media, priority: critical

#723 #701 - Added posts per page
  src/bp-search/plugins/search-cpt/class-bp-search-cpt.php
Labels: bug, component: search, priority: medium, status: needs review

#764 Remove duplicate BuddyBoss option from multisite
  src/bp-core/classes/class-bp-admin.php
Labels: bug, status: needs review

#712 Text Editor Toolbar UI update
  src/bp-core/bp-core-functions.php
  src/bp-core/css/medium-editor-rtl.css
  src/bp-core/css/medium-editor-rtl.min.css
  src/bp-core/css/medium-editor.css
  src/bp-core/css/medium-editor.min.css
  src/bp-core/js/vendor/medium-editor.js
  src/bp-forums/templates/default/bbpress/form-attachments.php
  src/bp-forums/templates/default/js/common.js
  src/bp-forums/templates/default/js/editor.js
  src/bp-templates/bp-nouveau/buddypress/activity/post-form.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/activity/parts/bp-whats-new-toolbar.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-editor-toolbar.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/messages.php
  src/bp-templates/bp-nouveau/common-styles/_bp_forums.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_groups_messages.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_messages.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_update_form.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/activity/functions.php
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/languages/buddyboss.pot
Labels: feature: enhancement, priority: high, status: in progress

#794 URL preview for posts and pages (especially homepage) is inconsistent
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-activity/vendors/website-parser/website_parser.php
  src/bp-core/bp-core-functions.php
  src/languages/buddyboss.pot
Labels: bug, priority: high, status: in progress

#803 #802 - Learndash certificate message position
  src/bp-integrations/learndash/templates/buddypress/groups/single/courses-content-display.php
  src/languages/buddyboss.pot
Labels: status: needs review

#798 Fix group LearnDash courses tab design issues
  src/bp-integrations/learndash/templates/buddypress/groups/single/courses-courses.php
  src/bp-integrations/learndash/templates/buddypress/groups/single/courses-loop.php
  src/languages/buddyboss.pot
Labels: bug, component: groups, learndash, php, priority: medium, status: needs review, status: needs testing

#805 #800 - BuddyBoss Email Header > can't select entire Logo
  src/bp-core/bp-core-customizer-email.php
  src/bp-core/bp-core-functions.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/memberpress/template.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/single-bp-email.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/wp/email-template.php
  src/languages/buddyboss.pot
Labels: status: needs review

#812 Fix/group network urls
  src/bp-groups/bp-groups-admin.php
Labels: bug, component: groups, priority: high, status: needs review

#807 #760 Subgroup not displayed in subgroup tab
  src/bp-groups/bp-groups-template.php
Labels: bug, component: groups, php, priority: critical, status: needs review, status: needs testing

#806 #760 Organizers are not able to send invites grom sub-groups
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
Labels: bug, component: groups, component: invites, php, priority: critical, status: needs review, status: needs testing

#787 #785 Fix Fatal error
  src/bp-integrations/learndash/library/SyncGenerator.php
Labels: bug, component: groups, component: messages, learndash, priority: critical, status: needs review

#817 755 - fixed the forums subscription tab when WooCommerce Subscriptions plugin is activated
  src/bp-core/compatibility/bp-incompatible-plugins-helper.php
Labels: bug, component: forums, priority: high, status: needs review

#819 Editor Enhancement
  src/bp-core/compatibility/bp-incompatible-plugins-helper.php
  src/bp-core/js/vendor/medium-editor.js
  src/bp-forums/templates/default/js/editor.js
  src/bp-templates/bp-nouveau/buddypress/assets/emails/memberpress/template.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/single-bp-email.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/wp/email-template.php
  src/bp-templates/bp-nouveau/common-styles/_bp_groups_messages.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_messages.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_update_form.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/languages/buddyboss.pot
Labels: bug, priority: high, status: needs review

#697 #696 - Fixed the pagination link issue for the topics
  src/bp-forums/users/template.php
  src/languages/buddyboss.pot
Labels: bug, component: forums, priority: high, status: needs review

#827 group message code refactory and simplify
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
Labels: refactor, status: needs review

#746 Profile Type filter in members directory is not working when there is a hidden profile type
  src/bp-members/bp-members-template.php
Labels: bug, component: profiles, status: needs review
