Repository buddyboss/buddyboss-platform, pull requests merged in 2020-06, with the labels that each got.

#931 HTML tags is appearing in Forum Discussion/replies
  src/bp-forums/templates/default/js/editor.js
Labels: QA Passed, bug, component: forums, status: needs review, status: needs testing

#945 Forums - merge in security vulnerability patches from bbPress 2.6.5
  src/bp-forums/common/shortcodes.php
  src/bp-forums/common/template.php
  src/bp-forums/core/actions.php
  src/bp-forums/core/sub-actions.php
  src/bp-forums/core/template-functions.php
  src/bp-forums/core/theme-compat.php
  src/bp-forums/search/functions.php
  src/bp-forums/search/template.php
Labels: bug, priority: high, status: needs testing

#728 #531 - Added buddypanel menu fix for group, forums, photos when WPML is active
  src/bp-core/compatibility/bp-incompatible-plugins-helper.php
  src/languages/buddyboss.pot
Labels: bug, priority: critical, status: changes requested

#985 #984 fix forum images lost
  src/bp-media/bp-media-filters.php
Labels: bug, component: forums, status: needs review

#992 #987 Document security fix
  src/bp-core/bp-core-cssjs.php
  src/bp-core/js/vendor/dropzone.js
  src/bp-core/js/vendor/dropzone.min.js
  src/bp-document/bp-document-filters.php
  src/bp-document/bp-document-functions.php
  src/bp-document/classes/class-bp-document.php
  src/bp-media/bp-media-functions.php
  src/bp-templates/bp-nouveau/buddypress/document/activity-entry.php
  src/bp-templates/bp-nouveau/buddypress/document/document-entry.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/document-ajax.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/document.php
  src/bp-templates/bp-nouveau/includes/document/ajax.php
  src/bp-templates/bp-nouveau/includes/document/functions.php
  src/bp-templates/bp-nouveau/includes/media/functions.php
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.min.js
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/languages/buddyboss.pot
Labels: Type: Security, bug, component: document, status: needs review, status: needs testing

#995 Fix/security issues documents
  bp-loader.php
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-activity/bp-activity-template.php
  src/bp-activity/classes/class-bp-activity-activity.php
  src/bp-activity/classes/class-bp-activity-query.php
  src/bp-activity/classes/class-bp-activity-template.php
  src/bp-document/bp-document-filters.php
  src/bp-document/bp-document-functions.php
  src/bp-document/bp-document-template.php
  src/bp-document/classes/class-bp-document.php
  src/bp-friends/bp-friends-activity.php
  src/bp-groups/bp-groups-activity.php
  src/bp-loader.php
  src/bp-media/bp-media-filters.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-single-list.php
  src/bp-templates/bp-nouveau/common-styles/_bp_activity_entries.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_media.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/activity/ajax.php
  src/bp-templates/bp-nouveau/includes/document/ajax.php
  src/bp-templates/bp-nouveau/includes/document/functions.php
  src/bp-templates/bp-nouveau/includes/document/preview.php
  src/bp-templates/bp-nouveau/includes/media/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/languages/buddyboss.pot
  src/readme.txt
Labels: priority: critical, priority: medium

#816 815 - Fixed the PHP warning
  src/bp-search/classes/class-bp-search.php
Labels: bug, component: search, priority: medium, status: needs review

#1025 Group photos always appear on search no matter what you search for.
  src/bp-friends/bp-friends-filters.php
  src/bp-groups/bp-groups-filters.php
  src/bp-members/bp-members-filters.php
Labels: bug, component: media, priority: critical, status: needs review

#1009 1002 - Fided unwanted code snippet (handled warning)
  src/bp-core/bp-core-catchuri.php
Labels: bug, component: profiles, status: needs review

#820 #800 - BuddyBoss Email Header > can't select entire Logo
  src/bp-core/admin/js/customizer-receiver-emails.js
  src/bp-core/admin/js/customizer-receiver-emails.min.js
  src/bp-core/bp-core-customizer-email.php
  src/bp-core/bp-core-functions.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/memberpress/template.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/single-bp-email.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/wp/email-template.php
  src/languages/buddyboss.pot
Labels: bug, status: needs review

#969 String "Invited by" could not be translated and display wrong date and not display the invited user name
  src/bp-groups/bp-groups-functions.php
  src/bp-templates/bp-nouveau/buddypress/members/single/groups/invites.php
Labels: QA Passed, bug, component: groups, status: needs review

#1042 Learndash fatal error on edit course when activity disabled
  src/bp-integrations/learndash/bp-learndash-filters.php
Labels: bug, component: activity, learndash, priority: high, status: needs review, status: needs testing

#1040 Repeater Fields cant be saved
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.js
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.min.js
Labels: QA Passed, bug, component: profile fields, priority: high

#829 #789 Fix member type issue on registration
  src/bp-members/bp-members-functions.php
Labels: bug, component: profiles, php, priority: medium, status: needs review

#1043 Sidebar activity is missing on preview popup in Group
  src/bp-activity/bp-activity-template.php
  src/bp-templates/bp-nouveau/includes/document/ajax.php
Labels: bug, component: activity, component: document, component: groups, status: needs review, status: needs testing

#1047 #1046 Fix BP Group Documents plugin conflict
  src/bp-core/bp-core-template.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/documents.php
Labels: bug, component: document, component: groups, php, status: needs review

#1053 #1052 Fix plus icon added on save changes message
  src/bp-core/bp-core-functions.php
  src/bp-templates/bp-nouveau/buddypress/members/single/groups/invites.php
  src/languages/buddyboss.pot
Labels: bug, component: profiles, priority: medium

#1044 Forums - disabling "Subscriptions" option should remove Subscriptions from my profile
  src/bp-forums/classes/class-bp-forums-component.php
  src/languages/buddyboss.pot
Labels: bug, priority: medium, status: needs review

#1054 Fixed icons issue on text formatting toolbar
  src/bp-core/css/medium-editor-rtl.css
  src/bp-core/css/medium-editor-rtl.min.css
  src/bp-core/css/medium-editor.css
  src/bp-core/css/medium-editor.min.css
  src/bp-templates/bp-nouveau/common-styles/_bp_activity_entries.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/languages/buddyboss.pot
Labels: bug, priority: medium, status: needs review

#1038 When adding a repeater field, after page refresh it should be opened
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.js
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.min.js
  src/languages/buddyboss.pot
Labels: bug, component: profile fields, priority: medium

#1066 Added empty repeater field class and default text
  src/bp-templates/bp-nouveau/buddypress-functions.php
  src/bp-templates/bp-nouveau/common-styles/_bp_user_profile.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/xprofile/functions.php
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.js
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.min.js
  src/languages/buddyboss.pot
Labels: component: profile fields, feature: enhancement, status: needs review

#1039 Users able to accept the group invitation on clicking group title. (without clicking on Accept button)
  src/bp-groups/screens/single/request-membership.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/request-membership.php
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.js
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.min.js
Labels: bug, priority: critical, status: needs review

#747 mentions in groups and forums to only members of that group
  src/bp-core/bp-core-functions.php
  src/bp-core/classes/class-bp-members-suggestions.php
  src/bp-core/js/mentions.js
  src/bp-core/js/mentions.min.js
  src/bp-forums/common/template.php
  src/bp-friends/bp-friends-functions.php
  src/bp-groups/bp-groups-functions.php
  src/bp-groups/classes/class-bp-groups-member-suggestions.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
Labels: QA Passed, bug, component: forums, component: groups, priority: low

#1068 Image not showing when posted as Reply or Comment on a Group update on Activity feed
  src/bp-activity/bp-activity-filters.php
  src/bp-core/admin/bp-core-admin-tools.php
  src/bp-core/admin/js/settings-page.js
  src/bp-core/admin/js/settings-page.min.js
  src/bp-document/bp-document-filters.php
  src/bp-media/bp-media-filters.php
Labels: bug, component: activity, component: document, component: groups, component: media, php, priority: critical

#1074 bug fix re call to distance search icon for Profile Search
  src/bp-core/profile-search/templates/members/bps-form-default.php
  src/bp-templates/bp-nouveau/buddypress/common/search/profile-search.php
Labels: bug, priority: high

#1075 #1071 - Social Icons not showing in model after activated plugin
  src/bp-core/admin/templates/about-appboss.php
  src/bp-core/admin/templates/about-buddyboss.php
  src/languages/buddyboss.pot
Labels: status: needs review

#1065 Fix/media document popup enhancement
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-document/bp-document-functions.php
  src/bp-document/classes/class-bp-document.php
  src/bp-media/bp-media-filters.php
  src/bp-media/bp-media-functions.php
  src/bp-media/bp-media-template.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-single-list.php
  src/bp-templates/bp-nouveau/buddypress/document/activity-entry.php
  src/bp-templates/bp-nouveau/buddypress/document/document-entry.php
  src/bp-templates/bp-nouveau/buddypress/media/activity-entry.php
  src/bp-templates/bp-nouveau/buddypress/media/theatre.php
  src/bp-templates/bp-nouveau/common-styles/_bp_activity_entries.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_media.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/activity/functions.php
  src/bp-templates/bp-nouveau/includes/activity/template-tags.php
  src/bp-templates/bp-nouveau/includes/document/ajax.php
  src/bp-templates/bp-nouveau/includes/media/ajax.php
  src/bp-templates/bp-nouveau/includes/media/functions.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/languages/buddyboss.pot
Labels: component: document, component: media, feature: enhancement

#1057 'Comments' option not appearing for Posts in Activity.
  src/bp-blogs/bp-blogs-activity.php
Labels: QA Passed, bug, component: activity, priority: medium

#1045 Private group documents will be visible on the /documents page for logged out users.
  src/bp-document/bp-document-filters.php
  src/bp-document/bp-document-functions.php
  src/bp-document/bp-document-template.php
  src/bp-document/classes/class-bp-document.php
  src/bp-friends/bp-friends-filters.php
  src/bp-groups/bp-groups-activity.php
  src/bp-groups/bp-groups-filters.php
  src/bp-media/bp-media-filters.php
  src/bp-media/bp-media-functions.php
  src/bp-media/bp-media-template.php
  src/bp-media/classes/class-bp-media.php
  src/bp-members/bp-members-filters.php
  src/bp-templates/bp-nouveau/includes/document/ajax.php
  src/bp-templates/bp-nouveau/includes/document/functions.php
  src/bp-templates/bp-nouveau/includes/functions.php
  src/bp-templates/bp-nouveau/includes/media/functions.php
Labels: QA Passed, bug, component: document, php, priority: medium

#1081 Fix label issue in repeater field
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.js
  src/bp-templates/bp-nouveau/js/buddypress-xprofile.min.js
Labels: bug, component: profile fields

#1085 Activity feed - distorted small images
  src/bp-forums/groups.php
  src/bp-templates/bp-nouveau/common-styles/_bp_media.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/languages/buddyboss.pot
Labels: bug, component: activity, priority: medium

#1097 #1096 certain cases in group forum discussion document generate error
  src/bp-document/bp-document-functions.php
  src/bp-document/classes/class-bp-document.php
Labels: bug, component: document, component: forums, component: groups

#824 #391 Fixed underscore "_" does not allow users to register
  src/bp-members/bp-members-functions.php
  src/bp-members/screens/register.php
  src/bp-xprofile/bp-xprofile-filters.php
  src/languages/buddyboss.pot
Labels: QA Passed, bug, feature: enhancement, php, priority: high

#1108 #1107 Private Network - Public Content not showing in settings when you have a dynamic/Memcached cache enable
  src/bp-core/admin/settings/bp-admin-setting-general.php
  src/bp-core/bp-core-catchuri.php
  src/bp-core/bp-core-options.php
Labels: bug, php, priority: high

#1110 Fixed fatal error when `administrator` role not exists in system
  src/bp-core/profile-search/bps-start.php
Labels: bug
