Repository buddyboss/buddyboss-platform, pull requests merged in 2020-09, with the labels that each got.

#1413 Thumbnail issue on mobile
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
Labels: QA Passed, bug, component: activity, javascript, priority: high, status: needs review

#1309 Feature activity edit
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-activity/bp-activity-template.php
  src/bp-core/admin/bp-core-admin-settings.php
  src/bp-core/admin/settings/bp-admin-setting-activity.php
  src/bp-core/bp-core-options.php
  src/bp-document/bp-document-filters.php
  src/bp-document/bp-document-functions.php
  src/bp-document/classes/class-bp-document.php
  src/bp-groups/bp-groups-activity.php
  src/bp-groups/bp-groups-functions.php
  src/bp-media/bp-media-filters.php
  src/bp-media/bp-media-functions.php
  src/bp-media/classes/class-bp-media.php
  src/bp-templates/bp-nouveau/buddypress/activity/entry.php
  src/bp-templates/bp-nouveau/buddypress/activity/post-form.php
  src/bp-templates/bp-nouveau/buddypress/activity/single/home.php
  src/bp-templates/bp-nouveau/common-styles/_bp_activity_entries.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_update_form.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/activity/ajax.php
  src/bp-templates/bp-nouveau/includes/activity/template-tags.php
  src/bp-templates/bp-nouveau/includes/document/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.min.js
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/languages/buddyboss.pot
Labels: component: activity, feature: enhancement, javascript, status: needs review, status: needs testing

#1156 #1008 - "post" button disappears when we share long URL, on mobile only
  src/bp-core/css/medium-editor-rtl.css
  src/bp-core/css/medium-editor-rtl.min.css
  src/bp-core/css/medium-editor.css
  src/bp-core/css/medium-editor.min.css
  src/languages/buddyboss.pot
Labels: QA Passed, status: needs review

#1441 When send only emoticons in messaging system, does not send
  src/bp-document/bp-document-filters.php
  src/bp-forums/templates/default/js/editor.js
  src/bp-media/bp-media-filters.php
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.min.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/languages/buddyboss.pot
Labels: QA Passed, bug, component: activity, component: forums, component: groups, component: messages, javascript, priority: critical, status: needs review

#1461 #1460 Fix - security issue
  src/bp-forums/users/capabilities.php
Labels: bug, component: forums, php, priority: high, status: needs review

#1382 #1255 - Login Information screen, password should get an "eye" to toggle it on and off.
  src/bp-templates/bp-nouveau/buddypress/members/single/settings/general.php
  src/languages/buddyboss.pot
Labels: QA Passed, status: needs review

#1464 fix post in dropdown in activity
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
Labels: bug, component: activity, javascript, priority: critical, status: needs review, status: needs testing

#1384 Fixed Media popup fluctuation issue while changing images
  src/bp-templates/bp-nouveau/common-styles/_bp_activity_entries.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_media.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
Labels: QA Passed, bug, priority: medium

#1444 Fix mention usernames in comments when saving
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.min.js
Labels: QA Passed, bug, component: activity, javascript, priority: high

#1470 Fix #452 Mentions remove issue fixed
  src/bp-core/js/mentions.js
  src/bp-core/js/mentions.min.js
Labels: component: activity, javascript, status: approved, status: needs testing

#1472 Fixed #942 #974 Site directory page issue
  src/bp-blogs/classes/class-bp-blogs-component.php
  src/bp-core/bp-core-catchuri.php
Labels: php, status: needs review

#1150 Option to hide all sub-groups from the main Groups directory
  src/bp-core/admin/bp-core-admin-settings.php
  src/bp-core/admin/js/settings-page.js
  src/bp-core/admin/js/settings-page.min.js
  src/bp-core/admin/settings/bp-admin-setting-groups.php
  src/bp-core/bp-core-options.php
  src/bp-groups/bp-groups-functions.php
  src/bp-groups/bp-groups-template.php
Labels: component: groups, feature: enhancement, priority: medium, status: needs testing

#1131 Pending Invite Screen - PHP Fatal error: Maximum execution time #909
  src/bp-groups/bp-groups-template.php
  src/bp-groups/classes/class-bp-groups-invite-template.php
  src/languages/buddyboss.pot
Labels: QA Passed, bug, component: groups, component: invites, status: approved

#722 Fixed: Email Reply Button is too small. It doesn't fit the reply text in it
  src/bp-core/classes/class-bp-email-tokens.php
  src/bp-templates/bp-nouveau/buddypress/assets/emails/single-bp-email.php
  src/languages/buddyboss.pot
Labels: QA Passed, bug, priority: medium

#1290 #1289 - Fix instant activity not loading when private group selected
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/languages/buddyboss.pot
Labels: bug, component: activity, status: needs review, status: needs testing

#1483 #1482 - Fix 404 issue
  src/bp-core/admin/settings/bp-admin-setting-activity.php
Labels: bug, component: activity, priority: high, status: needs review, status: needs testing

#1469 Fix edit activity
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-activity/screens/permalink.php
  src/bp-core/bp-core-template.php
  src/bp-document/bp-document-filters.php
  src/bp-media/bp-media-filters.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/activity/form.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/activity/parts/bp-activity-edit-postin.php
  src/bp-templates/bp-nouveau/common-styles/_bp_update_form.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/activity/functions.php
  src/bp-templates/bp-nouveau/includes/activity/template-tags.php
  src/bp-templates/bp-nouveau/includes/document/ajax.php
  src/bp-templates/bp-nouveau/includes/document/functions.php
  src/bp-templates/bp-nouveau/includes/document/loader.php
  src/bp-templates/bp-nouveau/includes/media/ajax.php
  src/bp-templates/bp-nouveau/includes/media/functions.php
  src/bp-templates/bp-nouveau/includes/media/loader.php
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.min.js
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/languages/buddyboss.pot
Labels: bug, component: activity, priority: critical, status: needs testing

#1499 Fixed hardcoded group id in registration page
  src/bp-templates/bp-nouveau/includes/xprofile/template-tags.php
Labels: bug

#1450 Fixed #770 Profile widget is not updated when we use Gravatar setting.
  src/bp-xprofile/bp-xprofile-functions.php
Labels: QA Passed, bug, php

#1477 Fix #1421
  src/bp-xprofile/bp-xprofile-functions.php
  src/bp-xprofile/classes/class-bp-xprofile-group.php
Labels: QA Passed, bug, component: profile fields, php

#1476 Fix #981 #700
  src/bp-forums/core/options.php
Labels: QA Passed, bug, component: forums, php

#1506 Documents API, Edit Activity support + small fixes
  Gruntfile.js
  src/bp-activity/classes/class-bp-rest-activity-endpoint.php
  src/bp-core/classes/class-bp-rest-settings-endpoint.php
  src/bp-document/classes/class-bp-document-component.php
  src/bp-document/classes/class-bp-rest-document-details-endpoint.php
  src/bp-document/classes/class-bp-rest-document-endpoint.php
  src/bp-document/classes/class-bp-rest-document-folder-endpoint.php
  src/bp-forums/classes/class-bp-rest-reply-endpoint.php
  src/bp-forums/classes/class-bp-rest-topics-endpoint.php
  src/bp-media/classes/class-bp-media-component.php
  src/bp-media/classes/class-bp-rest-media-albums-endpoint.php
  src/bp-media/classes/class-bp-rest-media-details-endpoint.php
  src/bp-media/classes/class-bp-rest-media-endpoint.php
  src/bp-members/classes/class-bp-rest-members-details-endpoint.php
  src/bp-members/classes/class-bp-rest-members-endpoint.php
  src/bp-members/classes/class-bp-rest-signup-endpoint.php
  src/bp-messages/classes/class-bp-rest-messages-endpoint.php
  src/bp-settings/classes/class-bp-rest-account-settings-options-endpoint.php
  src/bp-xprofile/classes/class-bp-rest-xprofile-field-groups-endpoint.php
  src/bp-xprofile/classes/class-bp-rest-xprofile-fields-endpoint.php
  src/class-buddypress.php
  src/endpoints/api_data.js
  src/endpoints/api_data.json
  src/endpoints/api_project.js
  src/endpoints/api_project.json
Labels: status: needs review

#1507 Fix - 404 on component active/deactive
  src/bp-core/admin/bp-core-admin-schema.php
  src/bp-core/admin/settings/bp-admin-setting-activity.php
Labels: bug, priority: high, status: needs review

#590 Profiles/Groups > Cover Photo Cropper
  src/bp-core/bp-core-attachments.php
  src/bp-core/bp-core-filters.php
  src/bp-core/js/bp-plupload.js
  src/bp-core/js/bp-plupload.min.js
  src/bp-core/js/cover-image.js
  src/bp-core/js/cover-image.min.js
  src/bp-groups/bp-groups-functions.php
  src/bp-templates/bp-nouveau/buddypress-functions.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/cover-image-header.php
  src/bp-templates/bp-nouveau/buddypress/members/single/cover-image-header.php
  src/bp-templates/bp-nouveau/common-styles/_bp_cover_image.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_user_profile.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/ajax.php
  src/bp-templates/bp-nouveau/includes/media/functions.php
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.js
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.min.js
  src/bp-templates/bp-nouveau/js/jquery.guillotine.min.js
  src/bp-xprofile/bp-xprofile-functions.php
  src/languages/buddyboss.pot
Labels: QA Passed, component: groups, component: profiles, feature: enhancement, priority: medium, status: needs review

#1168 #702 Fix visibility based on display name format
  src/bp-core/admin/settings/bp-admin-setting-xprofile.php
  src/bp-core/bp-core-options.php
  src/bp-core/bp-core-update.php
  src/bp-core/classes/class-bp-core-follow-follower-widget.php
  src/bp-core/classes/class-bp-core-follow-following-widget.php
  src/bp-core/classes/class-bp-rest-settings-endpoint.php
  src/bp-friends/classes/class-bp-core-friends-widget.php
  src/bp-templates/bp-nouveau/buddypress/members/register.php
  src/bp-templates/bp-nouveau/buddypress/members/single/profile/edit.php
  src/bp-templates/bp-nouveau/buddypress/members/single/profile/profile-loop.php
  src/bp-templates/bp-nouveau/buddypress/members/single/profile/profile-wp.php
  src/bp-templates/bp-nouveau/buddypress/members/single/settings/profile.php
  src/bp-templates/bp-nouveau/includes/xprofile/ajax.php
  src/bp-xprofile/bp-xprofile-admin.php
  src/bp-xprofile/bp-xprofile-caps.php
  src/bp-xprofile/bp-xprofile-filters.php
  src/bp-xprofile/bp-xprofile-functions.php
  src/bp-xprofile/bp-xprofile-template.php
  src/bp-xprofile/classes/class-bp-xprofile-field.php
  src/bp-xprofile/classes/class-bp-xprofile-user-admin.php
  src/class-buddypress.php
Labels: QA Passed, bug, component: profile fields, php, status: approved

#1517 #1516 - Fix - Media/document scope query
  src/bp-document/bp-document-functions.php
  src/bp-document/bp-document-template.php
  src/bp-media/bp-media-functions.php
  src/bp-media/bp-media-template.php
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.js
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.min.js
  src/languages/buddyboss.pot
Labels: bug, component: document, component: media, php, priority: critical

#908 Profile Completion widget is not working properly when First or Last …
  src/bp-xprofile/bp-xprofile-functions.php
Labels: bug, component: profile fields, status: needs review, status: needs testing

#1458 Fixed the issue with show more button in members widget
  src/bp-core/js/widget-members.js
  src/bp-core/js/widget-members.min.js
  src/bp-members/bp-members-widgets.php
  src/bp-members/classes/class-bp-core-members-widget.php
Labels: javascript, php, status: needs testing

#1463 Wrong Gravatar on Messaging
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-single-list.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-thread.php
Labels: bug, component: messages, javascript, status: needs testing

#1520 Cloudflare site link preview issue fixed
  src/bp-core/bp-core-functions.php
Labels: bug, status: needs testing

#1498 The text formatting buttons are working weird for customer site #1497
  src/bp-forums/templates/default/js/editor.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/languages/buddyboss.pot
Labels: bug, javascript, status: needs review, status: needs testing

#1269 #950 Allow admin to send message even if require to send message
  src/bp-core/bp-core-options.php
  src/bp-messages/bp-messages-functions.php
Labels: component: messages, feature: enhancement, status: needs testing

#1256 Fix - Bypass WordPress Show Avatars settings and set always true
  src/bp-core/admin/settings/bp-admin-setting-xprofile.php
  src/bp-core/bp-core-avatars.php
  src/bp-core/bp-core-filters.php
  src/bp-core/bp-core-options.php
Labels: bug, php, priority: high, status: needs review, status: needs testing

#1509 #1508 fix sub folder download duplicate issue
  src/bp-templates/bp-nouveau/includes/document/functions.php
Labels: bug, component: document, priority: medium, status: needs review, status: needs testing

#1523 Profile fields repeating whenever you select the Profile type on Register page.
  src/bp-xprofile/bp-xprofile-filters.php
Labels: QA Passed, bug, component: profiles, php

#1530 #524 - Fix due to JetPack Lazy load cropper not working
  src/bp-templates/bp-nouveau/buddypress/assets/_attachments/avatars/crop.php
Labels: bug, component: groups, component: profiles, priority: critical, status: needs review

#1535 Fixed Activity read more hide if string translated
  src/bp-activity/bp-activity-filters.php
Labels: bug, component: activity, status: needs review

#1541 If you post on a member's timeline, it will disappear.
  src/bp-templates/bp-nouveau/includes/activity/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
Labels: bug, component: activity, javascript, priority: critical, status: needs review

#1465 profile header buttons reorder
  src/bp-templates/bp-nouveau/buddypress/members/single/member-header.php
  src/bp-templates/bp-nouveau/includes/customizer-controls.php
  src/bp-templates/bp-nouveau/includes/customizer.php
  src/bp-templates/bp-nouveau/includes/functions.php
  src/bp-templates/bp-nouveau/includes/members/template-tags.php
  src/bp-templates/bp-nouveau/includes/profile-header-customizer-controls.php
  src/bp-templates/bp-nouveau/js/customizer.js
  src/bp-templates/bp-nouveau/js/customizer.min.js
  src/languages/buddyboss.pot
Labels: QA Passed, component: profiles, feature: enhancement, javascript, priority: medium

#1459 Fixed - Media uploader -> Select Photos tab more photos does not show photos on select photos tab
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/languages/buddyboss.pot
Labels: QA Passed, bug, priority: medium, status: needs testing

#1576 #1574 - Fixed Load more photos issue
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
Labels: bug, priority: medium, status: needs review

#1571 Fix update activity
  src/bp-document/bp-document-filters.php
  src/bp-document/classes/class-bp-document.php
  src/bp-media/bp-media-filters.php
  src/bp-media/classes/class-bp-media.php
Labels: bug, component: activity, component: document, component: media, priority: critical, status: needs testing
