Repository buddyboss/buddyboss-platform, pull requests merged in 2020-10, with the labels that each got.

#1561 When Forums page is set as a child page, this breaks the Forums page in Profile > Forums tabs
  src/bp-core/admin/bp-core-admin-components.php
  src/bp-core/admin/bp-core-admin-functions.php
  src/bp-core/admin/bp-core-admin-pages.php
  src/bp-core/bp-core-update.php
  src/bp-forums/classes/class-bp-forums-component.php
  src/bp-forums/core/options.php
  src/bp-members/classes/class-bp-rest-members-details-endpoint.php
  src/bp-templates/bp-nouveau/buddypress-functions.php
Labels: bug, component: forums, php, priority: high, status: needs review, status: needs testing

#1581 Reflected XSS when describing an image + other security fixes
  src/bp-templates/bp-nouveau/includes/document/ajax.php
  src/bp-templates/bp-nouveau/includes/media/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
Labels: Type: Security, bug, status: needs review

#1587 fix message content formatting
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
Labels: bug, component: messages, priority: critical, status: needs review, status: needs testing

#1519 Fix #1196 Group members can't see their hidden group on the Group Dir
  src/bp-core/bp-core-template.php
  src/bp-groups/bp-groups-template.php
  src/bp-groups/classes/class-bp-groups-group.php
Labels: QA Passed, component: groups, feature: enhancement, php, priority: high

#1590 Fixed Edit photos and document description and comment writing issue
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
Labels: bug, priority: medium, status: needs review

#1547 Profile and Group Cover Image scaling
  src/bp-core/bp-core-filters.php
  src/bp-core/classes/class-bp-attachment-cover-image.php
Labels: QA Passed, component: profiles, feature: enhancement, priority: high, priority: medium

#1559 Fixed - Group privacy status tooltip cuts off when the cover photo is disabled
  src/bp-templates/bp-nouveau/buddypress/groups/single/group-header.php
  src/languages/buddyboss.pot
Labels: QA Passed, bug, hacktoberfest-accepted, priority: medium

#1548 #1546 - Fix inviation message not showing
  src/bp-groups/bp-groups-functions.php
Labels: bug, component: groups, hacktoberfest, hacktoberfest-accepted, priority: medium, status: needs testing

#1572 Broken HTML in forum replies breaks whole page
  src/bp-forums/templates/default/js/editor.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
Labels: bug, hacktoberfest, hacktoberfest-accepted, priority: critical

#1504 Dropzone 5.7.2
  src/bp-core/js/vendor/dropzone.js
  src/bp-core/js/vendor/dropzone.min.js
  src/bp-templates/bp-nouveau/common-styles/_bp_dropzone.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
Labels: QA Passed, component: activity, component: document, component: forums, component: groups, component: media, component: messages, component: profiles, hacktoberfest, hacktoberfest-accepted, javascript, priority: high

#1604 #1601 - Fix group parent not updating
  src/bp-groups/bp-groups-functions.php
Labels: bug, component: groups, hacktoberfest, hacktoberfest-accepted, php, priority: medium, status: needs review

#1462 Wordpress Search function not working
  src/bp-search/classes/class-bp-search.php
  src/bp-search/plugins/search-cpt/index.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/topic-ajax.php
Labels: bug, component: search, hacktoberfest, learndash, php, priority: high, status: needs testing

#1596 PHPCS config
  Gruntfile.js
  composer.json
  composer.lock
  contrib/pre-commit
  contrib/pre-push
  contrib/setup.sh
  phpcs.xml
Labels: feature: enhancement, hacktoberfest, hacktoberfest-accepted, performance, php

#1600 Profile Fieldset tabs are being cached
  src/bp-xprofile/bp-xprofile-template.php
Labels: bug, component: profile fields, component: profiles, hacktoberfest, priority: critical, status: approved

#1526 Fix - static wp-admin check removed
  src/bp-loader.php
Labels: QA Passed, bug, priority: high

#1625 Get_Posts Query Improvement
  src/bp-core/admin/bp-core-admin-tools.php
  src/bp-core/bp-core-customizer-email.php
  src/bp-core/bp-core-functions.php
  src/bp-core/bp-core-update.php
  src/bp-core/gdpr/class-bp-bbp-gdpr-forums.php
  src/bp-core/gdpr/class-bp-bbp-gdpr-replies.php
  src/bp-core/gdpr/class-bp-bbp-gdpr-topics.php
  src/bp-document/bp-document-functions.php
  src/bp-forums/admin/admin.php
  src/bp-forums/admin/tools.php
  src/bp-forums/classes/class-bp-rest-topics-actions-endpoint.php
  src/bp-forums/classes/class-bp-rest-topics-endpoint.php
  src/bp-forums/common/template.php
  src/bp-forums/forums/functions.php
  src/bp-forums/functions.php
  src/bp-forums/topics/functions.php
  src/bp-forums/topics/template.php
  src/bp-forums/users/template.php
  src/bp-groups/classes/class-bp-rest-group-settings-endpoint.php
  src/bp-groups/classes/class-bp-rest-groups-types-endpoint.php
  src/bp-invites/classes/class-bp-rest-invites-endpoint.php
  tests/phpunit/includes/testcase-emails.php
  tests/phpunit/testcases/admin/functions.php
Labels: feature: enhancement, hacktoberfest, performance, php, status: needs review

#1624 No 'Read more' for blog posts activity on Activity feed.
  src/bp-activity/bp-activity-filters.php
Labels: component: activity, hacktoberfest, status: needs review

#1611 #1417 - Fix profile completion field data not updating
  src/bp-core/bp-core-functions.php
  src/bp-core/deprecated/buddyboss/1.5.3.php
  src/bp-xprofile/bp-xprofile-filters.php
  src/bp-xprofile/bp-xprofile-functions.php
  src/bp-xprofile/classes/class-bp-xprofile-profile-completion-widget.php
  src/class-buddypress.php
Labels: QA Passed, bug, component: profiles, hacktoberfest, hacktoberfest-accepted, php, priority: high

#1609 Fix the issue current class is not being added to the <li>
  src/bp-core/bp-core-filters.php
Labels: QA Passed, bug, priority: medium, status: needs testing

#1633 Message query Updated
  src/bp-messages/bp-messages-functions.php
  src/bp-messages/classes/class-bp-messages-message.php
  src/bp-messages/classes/class-bp-messages-notice.php
  src/bp-messages/classes/class-bp-messages-thread.php
  src/bp-messages/classes/class-bp-rest-group-messages-endpoint.php
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
Labels: QA Passed, component: messages, feature: enhancement, hacktoberfest, hacktoberfest-accepted, priority: high, status: ready for release

#1579 #1578 - Fix - Documents Download - Invalid file
  src/bp-templates/bp-nouveau/includes/document/functions.php
Labels: bug, component: document, hacktoberfest, hacktoberfest-accepted, priority: medium

#1654 #1645 - Fixed Custom Notification returns blank text in notification …
  src/bp-forums/notifications.php
Labels: bug, component: notifications, priority: high, status: ready for release

#1681 #1680 - Fix static xprofile group id
  src/bp-xprofile/screens/edit.php
Labels: bug, component: profile fields, component: profiles, hacktoberfest, hacktoberfest-accepted, priority: high, status: ready for release

#1663 1299 - Fixed the notification date
  src/bp-forums/notifications.php
Labels: bug, priority: medium, status: changes requested

#1685 Email schema filters added
  src/bp-core/bp-core-functions.php
Labels: Email Template, hacktoberfest, priority: medium, status: ready for release

#1693 #1692 - Fix Private group documents display issue
  src/bp-groups/bp-groups-filters.php
Labels: bug, component: document, component: groups, hacktoberfest, hacktoberfest-accepted, php, priority: critical, status: ready for release

#1667 1251 - Fixed the issue with notification mark read when visiting the …
  src/bp-activity/bp-activity-notifications.php
  src/bp-core/bp-core-actions.php
Labels: bug, priority: medium, status: needs review

#1305 When a group is public and it has a forum, anyone can post to it, even though they haven't joined the group
  src/bp-core/bp-core-template.php
  src/bp-forums/groups.php
Labels: QA Passed, bug, component: forums, hacktoberfest, hacktoberfest-accepted, priority: high, status: ready for release

#1141 Wrong avatar on the new activity post form #1048
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/activity/parts/bp-activity-post-form-avatar.php
Labels: bug, component: activity

#1676 Fixed the issue of reply to forums repost images
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
Labels: bug, priority: medium, status: ready for release

#1708 Feature/moderation list table
  src/bp-core/admin/bp-core-admin-functions.php
  src/bp-moderation/bp-moderation-admin.php
  src/bp-moderation/bp-moderation-functions.php
  src/bp-moderation/classes/class-bp-moderation-list-table.php
Labels: feature: major
