Repository buddyboss/buddyboss-platform, pull requests merged in 2020-11, with the labels that each got.

#1706 #1705 - Fix document display issue
  src/bp-document/bp-document-functions.php
  src/bp-groups/bp-groups-filters.php
  src/bp-media/bp-media-functions.php
Labels: QA Passed, bug, component: document, component: media, hacktoberfest, hacktoberfest-accepted, php, priority: critical, status: ready for release

#1488 Network Search - Media
  src/bp-media/bp-media-filters.php
  src/bp-media/bp-media-functions.php
  src/bp-media/bp-media-template.php
  src/bp-media/classes/class-bp-media-album.php
  src/bp-media/classes/class-bp-media.php
  src/bp-search/bp-search-settings.php
  src/bp-search/classes/class-bp-search-albums.php
  src/bp-search/classes/class-bp-search-media.php
  src/bp-search/classes/class-bp-search.php
  src/bp-search/plugins/search-cpt/class-bp-search-cpt.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/albums-ajax.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/albums.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/document-ajax.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/folder-ajax.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/photos-ajax.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/photos.php
  src/bp-templates/bp-nouveau/common-styles/_bp_media.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/languages/buddyboss.pot
Labels: QA Passed, component: media, component: search, design, hacktoberfest, php, status: ready for release

#1644 #1417 - Fix profile completion field data not updating
  src/bp-core/bp-core-functions.php
  src/bp-core/deprecated/buddyboss/1.5.3.php
  src/bp-xprofile/bp-xprofile-filters.php
  src/bp-xprofile/bp-xprofile-functions.php
  src/bp-xprofile/classes/class-bp-xprofile-profile-completion-widget.php
  src/class-buddypress.php
Labels: QA Passed, bug, component: profile fields, component: profiles, hacktoberfest, hacktoberfest-accepted, php, priority: high, status: ready for release

#1277 Notifications not working when a user comments on a blog post
  src/bp-activity/bp-activity-notifications.php
Labels: QA Passed, bug, hacktoberfest, hacktoberfest-accepted, priority: high, status: ready for release

#1709 #1665 - Fixed the issue Blog post video Embed is not working in activ…
  src/bp-activity/bp-activity-functions.php
Labels: QA Passed, bug, component: activity, priority: medium, status: ready for release

#1724 Fixed: Password reset email is not displaying properly when Paid Membership Pro is active
  src/bp-core/bp-core-wp-emails.php
Labels: QA Passed, bug, status: ready for release

#1731 Fix - PHP Warning
  src/bp-blogs/bp-blogs-functions.php
Labels: bug, priority: high, status: ready for release

#1740 fix updater saved key check
  src/bp-core/admin/bp-core-admin-theme-settings.php
Labels: bug, priority: critical, status: ready for release

#1639 Fixed - Album title removed when we upload errored photos
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
Labels: Need: Re-Fix, bug, priority: medium

#1761 Fixed - Album title removed when we upload errored photos
  src/bp-templates/bp-nouveau/js/buddypress-media.js
Labels: QA Passed, priority: medium, status: ready for release

#1623 Added Feature: Show relevant Feed - at the global news feed page #1311
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-core/admin/bp-core-admin-settings.php
  src/bp-core/admin/settings/bp-admin-setting-activity.php
  src/bp-core/bp-core-options.php
  src/bp-forums/activity.php
Labels: QA Passed, component: activity, feature: major, priority: high, status: ready for release

#1361 777 - GIPHY Enhancement
  src/bp-core/classes/class-bp-email-tokens.php
  src/bp-forums/templates/default/bbpress-functions.php
  src/bp-media/bp-media-filters.php
  src/bp-media/classes/class-bp-rest-media-endpoint.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
Labels: Merged in Dev - RFT, QA Passed, component: activity, component: messages, feature: enhancement, php, status: ready for release

#1481 Edit Activity Popup scroll improvement
  src/bp-templates/bp-nouveau/common-styles/_bp_update_form.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/languages/buddyboss.pot
Labels: QA Passed, feature: enhancement, priority: medium, status: ready for release

#1754 Attachment Privacy Issue Fixes
  src/bp-core/bp-core-actions.php
  src/bp-core/bp-core-filters.php
Labels: Merged in Dev - RFT, QA Passed, Type: Security, component: document, component: media, status: ready for release

#1756 #1755 - Fix Group Messages Media display in group photos
  src/bp-core/bp-core-update.php
  src/bp-document/bp-document-filters.php
  src/bp-document/bp-document-functions.php
  src/bp-media/bp-media-filters.php
  src/class-buddypress.php
Labels: QA Passed, component: groups, component: media, component: messages, php, priority: critical, status: ready for release

#1760 #1406 - Fix private network issue
  src/bp-core/bp-core-catchuri.php
Labels: QA Passed, bug, php, priority: high, status: ready for release

#1763 Fixed Gif in Forum has play button misaligned
  src/bp-templates/bp-nouveau/common-styles/_bp_forums.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/languages/buddyboss.pot
Labels: bug, priority: medium, status: ready for release

#1748 REST API Fixes and Enhancement
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/classes/class-bp-rest-activity-endpoint.php
  src/bp-core/classes/class-bp-rest-settings-endpoint.php
  src/bp-document/bp-document-functions.php
  src/bp-document/classes/class-bp-rest-document-endpoint.php
  src/bp-forums/classes/class-bp-rest-forums-endpoint.php
  src/bp-forums/classes/class-bp-rest-reply-endpoint.php
  src/bp-forums/classes/class-bp-rest-topics-endpoint.php
  src/bp-media/classes/class-bp-rest-media-albums-endpoint.php
  src/bp-media/classes/class-bp-rest-media-endpoint.php
  src/bp-members/classes/class-bp-rest-members-details-endpoint.php
  src/bp-members/classes/class-bp-rest-members-endpoint.php
  src/bp-settings/classes/class-bp-rest-account-settings-endpoint.php
  src/endpoints/api_project.js
  src/endpoints/api_project.json
Labels: feature: enhancement, priority: high

#1738 Media search result enhancement
  src/bp-templates/bp-nouveau/buddypress/search/loop/albums-ajax.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/albums.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/photos-ajax.php
  src/bp-templates/bp-nouveau/buddypress/search/loop/photos.php
  src/bp-templates/bp-nouveau/common-styles/_bp_media.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/languages/buddyboss.pot
Labels: QA Passed, component: search, feature: enhancement, priority: medium, status: ready for release

#1703 #1697 - Fix activity more link
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-blogs/bp-blogs-activity.php
  src/bp-blogs/bp-blogs-functions.php
Labels: Merged in Dev - RFT, QA Passed, bug, component: activity, php, priority: critical, priority: medium, status: ready for release

#1732 Fix - Document signed URL Issue
  src/bp-document/bp-document-functions.php
  src/bp-templates/bp-nouveau/includes/document/functions.php
  src/bp-templates/bp-nouveau/includes/document/preview.php
  src/bp-templates/bp-nouveau/includes/media/functions.php
Labels: QA Passed, bug, component: document, component: media, status: ready for release

#1757 Fixed the issue with assigning profile type to user when sending multiple member invites
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.js
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.min.js
Labels: QA Passed, bug, priority: medium, status: ready for release

#1794 Fixed featured image selection from media component images
  src/bp-core/bp-core-filters.php
Labels: Type: Security, component: document, component: media

#1795 Fix group message with BCC
  src/bp-messages/classes/class-bp-messages-message.php
  src/bp-messages/classes/class-bp-messages-thread.php
Labels: bug, component: groups, component: messages

#1805 Fix fatal error with PMPRO-bbpress
  src/bp-forums/common/functions.php
Labels: bug, component: forums, php, priority: medium, status: needs review

#1243 Fixed Html posted in content is lost on editing the discussion
  src/bp-forums/templates/default/js/common.js
Labels: Need: Re-Fix, bug, component: forums, priority: medium

#1821 Fix automatically add users while sending a personal message
  src/bp-messages/bp-messages-functions.php
  src/bp-messages/classes/class-bp-messages-message.php
  src/bp-messages/classes/class-bp-messages-notice.php
  src/bp-messages/classes/class-bp-messages-thread.php
  src/bp-messages/classes/class-bp-rest-group-messages-endpoint.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/messages.php
  src/bp-templates/bp-nouveau/common-styles/_bp_groups_messages.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/languages/buddyboss.pot
Labels: Type: Security, bug, component: messages, priority: critical
