Repository buddyboss/buddyboss-platform, pull requests merged in 2020-03, with the labels that each got.

#610 #605 Fix message fatal errors
  src/bp-core/bp-core-template.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/functions.php
Labels: Has-PR, bug, component: messages, php, priority: high, status: needs review

#616 #615 MediumEditor not preserving copied formatted content
  src/bp-forums/templates/default/js/editor.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
Labels: bug, component: messages, javascript, priority: high, status: needs review

#394 message media privacy fixed
  src/bp-media/bp-media-filters.php
  src/bp-media/bp-media-functions.php
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
Labels: bug, component: media, component: messages, priority: critical, status: needs review

#603 Wrong use of 'an' when you rename 'Organizer' group role inside 'Group Types' settings.
  src/bp-groups/bp-groups-template.php
  src/languages/buddyboss.pot
Labels: bug, priority: high

#563 Fix #562 Xprofile dropdown field new options not saving after certain options
  src/bp-xprofile/bp-xprofile-admin.php
Labels: bug, component: profile fields, component: profiles, priority: critical, status: needs review, status: needs testing

#608 Allow to use custom registration page instead of Platform
  src/bp-core/admin/bp-core-admin-pages.php
  src/bp-core/admin/bp-core-admin-settings.php
  src/bp-core/admin/css/common-rtl.css
  src/bp-core/admin/css/common-rtl.min.css
  src/bp-core/admin/css/common.css
  src/bp-core/admin/css/common.min.css
  src/bp-core/admin/js/settings-page.js
  src/bp-core/admin/js/settings-page.min.js
  src/bp-core/admin/sass/common.scss
  src/bp-core/admin/settings/bp-admin-setting-general.php
  src/bp-core/bp-core-catchuri.php
  src/bp-core/bp-core-options.php
  src/bp-core/js/vendor/dropzone.js
  src/bp-core/js/vendor/dropzone.min.js
  src/bp-invites/bp-invites-admin.php
  src/bp-invites/bp-invites-functions.php
  src/bp-members/bp-members-functions.php
  src/bp-members/bp-members-template.php
  src/bp-members/screens/register.php
  src/bp-templates/bp-nouveau/buddypress-functions.php
  src/bp-templates/bp-nouveau/buddypress/members/single/invites/sent-invites.php
  src/languages/buddyboss.pot
Labels: Has-PR, feature: enhancement, php, priority: high

#628 #624 Profile Type not saving when Wordpress Role is not assigned
  src/bp-xprofile/screens/edit.php
Labels: bug, component: profile fields, component: profiles, php, priority: high, status: changes requested

#631 Reply to link fix on My Replies page
  src/bp-forums/replies/template.php
Labels: bug, component: forums, priority: high, status: needs review

#609 Forums > Support @mentions
  src/bp-activity/bp-activity-cssjs.php
  src/bp-activity/bp-activity-filters.php
  src/bp-activity/bp-activity-functions.php
  src/bp-core/bp-core-functions.php
  src/bp-core/css/mentions-rtl.css
  src/bp-core/css/mentions-rtl.min.css
  src/bp-core/css/mentions.css
  src/bp-core/css/mentions.min.css
  src/bp-core/js/mentions.js
  src/bp-core/js/mentions.min.js
  src/bp-forums/activity.php
  src/bp-forums/common/formatting.php
  src/bp-forums/core/filters.php
  src/bp-forums/notifications.php
  src/bp-forums/replies/functions.php
  src/bp-forums/templates/default/bbpress-functions.php
  src/bp-forums/topics/functions.php
  src/bp-friends/bp-friends-functions.php
  src/bp-xprofile/bp-xprofile-functions.php
  src/languages/buddyboss.pot
Labels: component: forums, feature: enhancement, priority: low, status: needs review

#627 #503 - fix undefined warnings and strstr fix
  src/bp-templates/bp-nouveau/buddypress-functions.php
Labels: bug, component: forums, php, priority: low, status: needs testing

#626 #625 PHP Notice & PHP 7.4 Compatibility
  src/bp-groups/classes/class-bp-groups-component.php
Labels: feature: enhancement, php, priority: medium

#647 dropzonejs custom options
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.js
  src/bp-templates/bp-nouveau/js/buddypress-activity-post-form.min.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.min.js
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/languages/buddyboss.pot
Labels: javascript, priority: medium, status: changes requested, status: in progress

#640 Fix/635 - Forum mention issues fixed
  src/bp-core/js/mentions.js
  src/bp-core/js/mentions.min.js
  src/bp-forums/notifications.php
  src/bp-forums/replies/functions.php
  src/bp-forums/templates/default/bbpress-functions.php
  src/bp-forums/topics/functions.php
  src/bp-groups/bp-groups-filters.php
Labels: bug, component: forums, priority: medium, status: needs review

#439 Date January 1, 1970 could not be saved on profile edit.
  src/bp-xprofile/bp-xprofile-functions.php
Labels: bug, component: profile fields

#652 #604 Fix link preview image not showing
  src/bp-activity/bp-activity-filters.php
Labels: bug, component: activity, php, priority: high, status: approved

#651 #520 - No error message in registration is shown when username already existed
  src/bp-xprofile/bp-xprofile-filters.php
Labels: bug, priority: high, status: approved

#649 #629 Fix who online count
  src/bp-members/classes/class-bp-core-whos-online-widget.php
Labels: bug, component: profiles, php, priority: medium, status: needs review

#658 Forum - "Time Limit" settings are not working fix
  src/bp-forums/replies/functions.php
  src/bp-forums/templates/default/bbpress/form-reply.php
  src/bp-forums/templates/default/bbpress/form-topic.php
  src/bp-forums/topics/functions.php
Labels: bug, component: forums, priority: critical, status: needs review

#497 A blank notification is shown even if we delete that user
  src/bp-messages/classes/class-bp-messages-message.php
Labels: bug, component: messages, priority: high, status: needs review

#636 Email Invites - Change TinyMCE font to Arial
  src/bp-invites/bp-invites-functions.php
  src/bp-templates/bp-nouveau/buddypress/members/single/invites/send-invites.php
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/languages/buddyboss.pot
Labels: component: invites, feature: enhancement, priority: low, status: needs review

#655 #633 Fix SMTP email issues
  src/bp-core/bp-core-functions.php
Labels: bug, php, priority: critical, status: needs testing

#565 In Media overlay, the emoji dropdown is under the photo
  src/bp-templates/bp-nouveau/common-styles/_bp_activity_comments.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_media.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/js/buddypress-activity.js
  src/bp-templates/bp-nouveau/js/buddypress-activity.min.js
  src/languages/buddyboss.pot
Labels: status: needs review

#639 Email Invites - Added ability to allow users to add as many recipients as they want
  src/bp-templates/bp-nouveau/buddypress/members/single/invites/send-invites.php
  src/bp-templates/bp-nouveau/common-styles/_bp_user_profile.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.js
  src/bp-templates/bp-nouveau/js/buddypress-nouveau.min.js
  src/languages/buddyboss.pot
Labels: component: invites, feature: enhancement, priority: low, status: needs review

#189 Group Messages
  src/bp-core/admin/bp-core-admin-schema.php
  src/bp-core/admin/bp-core-admin-settings.php
  src/bp-core/admin/settings/bp-admin-setting-groups.php
  src/bp-core/bp-core-filters.php
  src/bp-core/bp-core-functions.php
  src/bp-core/bp-core-options.php
  src/bp-core/bp-core-template.php
  src/bp-core/bp-core-update.php
  src/bp-core/classes/class-bp-email-tokens.php
  src/bp-core/gdpr/class-bp-settings-export.php
  src/bp-groups/bp-groups-admin.php
  src/bp-groups/bp-groups-functions.php
  src/bp-groups/bp-groups-notifications.php
  src/bp-groups/bp-groups-template.php
  src/bp-groups/classes/class-bp-groups-component.php
  src/bp-groups/screens/single/admin/group-settings.php
  src/bp-groups/screens/single/messages.php
  src/bp-media/bp-media-filters.php
  src/bp-media/bp-media-settings.php
  src/bp-messages/bp-messages-filters.php
  src/bp-messages/bp-messages-functions.php
  src/bp-messages/bp-messages-notifications.php
  src/bp-messages/bp-messages-template.php
  src/bp-messages/classes/class-bp-messages-message.php
  src/bp-messages/classes/class-bp-messages-thread.php
  src/bp-messages/screens/view.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-single-header.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-single-list.php
  src/bp-templates/bp-nouveau/buddypress/common/js-templates/messages/parts/bp-messages-thread.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/admin/group-settings.php
  src/bp-templates/bp-nouveau/buddypress/groups/single/messages.php
  src/bp-templates/bp-nouveau/common-styles/_bp_groups_messages.scss
  src/bp-templates/bp-nouveau/common-styles/_bp_messages.scss
  src/bp-templates/bp-nouveau/css/buddypress-rtl.css
  src/bp-templates/bp-nouveau/css/buddypress-rtl.min.css
  src/bp-templates/bp-nouveau/css/buddypress.css
  src/bp-templates/bp-nouveau/css/buddypress.min.css
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/includes/groups/classes.php
  src/bp-templates/bp-nouveau/includes/groups/functions.php
  src/bp-templates/bp-nouveau/includes/groups/loader.php
  src/bp-templates/bp-nouveau/includes/groups/template-tags.php
  src/bp-templates/bp-nouveau/includes/media/functions.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
  src/bp-templates/bp-nouveau/includes/messages/functions.php
  src/bp-templates/bp-nouveau/includes/template-tags.php
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-group-messages.min.js
  src/bp-templates/bp-nouveau/js/buddypress-media.js
  src/bp-templates/bp-nouveau/js/buddypress-media.min.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.js
  src/bp-templates/bp-nouveau/js/buddypress-messages.min.js
  src/bp-templates/bp-nouveau/sass/buddypress.scss
  src/bp-xprofile/bp-xprofile-functions.php
  src/class-buddypress.php
  src/languages/buddyboss.pot
Labels: component: groups, component: messages, priority: high, status: needs review

#686 group messages code refactor and since tag changes
  src/bp-core/admin/bp-core-admin-schema.php
  src/bp-core/admin/bp-core-admin-settings.php
  src/bp-core/bp-core-options.php
  src/bp-core/bp-core-template.php
  src/bp-core/bp-core-update.php
  src/bp-groups/bp-groups-functions.php
  src/bp-groups/bp-groups-template.php
  src/bp-groups/screens/single/messages.php
  src/bp-media/bp-media-filters.php
  src/bp-messages/bp-messages-filters.php
  src/bp-messages/bp-messages-functions.php
  src/bp-messages/classes/class-bp-messages-message.php
  src/bp-messages/classes/class-bp-messages-thread.php
  src/bp-templates/bp-nouveau/includes/groups/ajax.php
  src/bp-templates/bp-nouveau/includes/groups/functions.php
  src/bp-templates/bp-nouveau/includes/messages/ajax.php
Labels: component: groups, component: messages, php, priority: critical, status: needs review
